<div class="col-md-10">
  <table class='table' *ngIf="users">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ user.ID }} </td>
        <td>
          <a [routerLink]="['/user-view',user.ID]"> {{ user.UserName }}</a>
        </td>
        <td>{{ user.Password }}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="openDialog(user.id)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
